{
	"extends": [
		"eslint:recommended",
		"plugin:prettier/recommended"
	],
	"plugins": [
		"prettier",
		"import"
	],
	"env": {
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"rules": {
		"prettier/prettier": "error",
		"prefer-const": "off",
		"no-var": "off",
	}
}
